<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Question Answering</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        #response {
            font-family: monospace;
            white-space: pre;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const socket = io();

            document.getElementById("query-form").addEventListener("submit", (event) => {
                event.preventDefault();
                const question = document.getElementById("question").value;
                const model = document.getElementById("model").value;
                socket.emit("query", { question, model });
                document.getElementById("response").innerHTML = "";
            });

            socket.on("response", (msg) => {
                document.getElementById("response").innerHTML += msg.data;
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>PDF Question Answering</h1>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" class="form">
            <label for="file">Upload PDF:</label>
            <input type="file" name="file" id="file" class="input-file">
            <button type="submit" class="button">Upload</button>
        </form>

        <form id="query-form" class="form">
            <label for="question">Your Question:</label>
            <input type="text" name="question" id="question" class="input-text" required>
            
            <label for="model">Choose Language Model:</label>
            <select name="model" id="model" class="input-select">
                {% for model in models %}
                <option value="{{ model }}">{{ model }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="button">Run</button>
        </form>

        <div class="response-container">
            <h2>Response:</h2>
            <p id="response"></p>
        </div>
    </div>
</body>
</html>
